@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */

html {overflow: hidden; height:100%;}
@media (min-width: 1025px) {html {font-size: 100%;}}
@media (min-width: 769px) and (max-width: 1024px) {html {font-size: 90%;}}
@media (min-width: 481px) and (max-width: 768px) {html {font-size: 80%;}}
@media (max-width: 480px) {html {font-size: 60%;}}

body {
    background: #ffffff;
    font-family: 'Opne Sans', sans-serif;
    font-size: 1.3rem; 
    line-height: 1.7rem;
    font-weight: 300;
    color: #000;
    text-align: center;
    overflow-x: hidden !important;
    margin: auto !important;
	height: 100%;
}


/* Internet Explorer 10 in Windows 8 and Windows Phone 8 Bug fix */

@-webkit-viewport {
    width: device-width;
}

@-moz-viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@-o-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

/* PRE LOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.status {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
    margin: -20px 0 0 -20px;
}

.wrap{
	width: 100%;
	position: relative;
}

/* FONT FACE LOADER */
@font-face {
    font-family: 'Lane';
    src: url('../fonts/lanenar_Lane.eot');
    src: url('../fonts/lanenar_Lane.eot?#iefix') format('embedded-opentype'), url('../fonts/lanenar_Lane.woff') format('woff'), url('../fonts/lanenar_Lane.ttf') format('truetype'), url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
 
    @font-face {
        font-family: 'Lane';
        src: url('../fonts/lanenar_Lane.svg#Lane') format('svg');
    }
}

h1,
h2 {font-family: 'Lane', sans-serif;font-weight: normal;}
h1 {font-size: 3.75rem;line-height: 4.688rem;}
h2 {font-size: 3.6rem;line-height: 4.063rem;}
h3 {
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 300;
}

/********************************/
.wrap { background-position: left top; background-repeat: no-repeat; background-size: cover; -webkit-background-size: cover; height: 100%; text-align:center; }
@media (min-width: 737px) {.wrap{ background-image:url(../images/bg-desktop-devices.png); }}
@media (max-width: 736px) {.wrap{ background-image:url(../images/bg-handheld-devices.png); }}
.content { opacity:0; padding-top: 110px; overflow: hidden; }
.product_logo { display: block; width: 105px; margin: 0 auto; }
.download-button {  
	font-size: 18px;
  	font-weight: 300;
  	border-radius: 4px;
  	color: #ffffff;
	border: none;
	padding: 25px;
	width: 200px;
	display: block;
	margin: 20px auto 0 auto;
	-webkit-transition: all ease 0.25s;
	transition: all ease 0.25s;
	background: #ea8825;
}
.download-button.landscape { display : none; } 
.footer { position: fixed; bottom: 10px; left:0; right: 0; width: 100%; text-align: center; display: none; }
.footer span { display: inline-block; vertical-align: middle; }
.footer span.powered-by { font-size : 18px; font-family: 'Lane', sans-serif; margin-right: 10px; }
.footer span.logo-naranga { cursor: pointer; width: 130px; height:57px; background:url(../images/logo-naranga-footer.png) left top no-repeat; background-size: 100%;  }

@media (max-width: 736px) and (orientation:portrait){
	.download-button.portrait { display : block; }
	.download-button.landscape { display : none; }
	.port-view { float: none; }
}

@media (max-width: 736px) and (orientation:landscape){
	.download-button.portrait { display : none; }
	.download-button.landscape { display : block; float: right; margin-top : 140px; }
	.port-view { float: left; padding-top : 30px; }
	h1 {font-size: 3rem; line-height: 3.688rem;}
	h3 {
		font-size: 2rem;
		line-height: 2.4rem;
		font-weight: 300;
	}
	.content { -webkit-transform: scale(0.9); }
}
@media (min-width: 569px) and (max-width: 736px) and (orientation:landscape) {
    .content {    padding: 24px 60px 0px 60px !important;}
}


