<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<font size="2" face="Arial, Helvetica, sans-serif"> <p> Dear @Fullname, <br><br>
As per your request your Netsolace Portal login password has been reset. </p>
<p>Your user name is: <b>@UserName</b><br>
Your temporary password is: <b>@Password</b></p>
</font>
<p><font size="2" face="Arial, Helvetica, sans-serif">You will find the link to access Netsolace Portal on your Launch Pad. 
Please contact us for any further assistance. Thank you.</font></p></font></td>
</tr>
<tr >
<td  valign="bottom"><font size="2" face="Arial, Helvetica, sans-serif">
<br /><b><i>Netsolace, Inc.</i></b><br>
95 Barnes Road<br> Wallingford, Connecticut 06492-180<br>United States <br />Phone: +1-203-907-2800 <br>Fax: +1-203-651-1043 </font>
</td>
</tr>
</table>