<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<font size="2" face="Arial, Helvetica, sans-serif"> <p> Dear @Fullname, <br /><br />
@title </p>

<p><font size="2" face="Arial, Helvetica, sans-serif">You may login from the following link:<br />
<a target="_blank" href="http://my.netsolace.com">http://my.netsolace.com</a>.</font></p>
<p>Your user name is: <b>@UserName</b><br>
Your temporary password is: <b>@Password</b></p>
We recommend you to please change your password when you login.
</font>
<p><font size="2" face="Arial, Helvetica, sans-serif">
If you have any further questions or concerns, please do not hesitate to contact us via phone at the numbers listed below.
<br /><br />As always, it is our pleasure to assist in any way possible!
</font></p></td>
</tr>
<tr >
<td  valign="bottom"><font size="2" face="Arial, Helvetica, sans-serif">
<br /><b><i>Netsolace, Inc.</i></b><br>
95 Barnes Road<br> Wallingford, Connecticut 06492-180<br>United States <br />Phone: +1-203-907-2800 <br>Fax: +1-203-651-1043 </font>
</td>
</tr>
<tr>
	<td>
		<hr />
         <span style="font-family: Arial;font-size:12px;">  
            Confidentiality Notice: This e-mail message (including any attachments or embedded
            documents) is intended for the exclusive and confidential use of the individual
            or entity to which this message is addressed, and unless otherwise expressly indicated,
            is confidential and privileged information of Netsolace, Inc. Any dissemination, distribution or copying of the enclosed material is prohibited.
            If you have received this email by mistake, please immediately notify us by email
            or telephone and destroy any email received. Your cooperation is appreciated. Thank
            you.
          </span>
	</td>
</tr>
</table>