<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Email - Digital Filipbook</title>
</head>
<body>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 700px;">
                <table cellpadding="0" cellspacing="0" style="border-width: 0px; font-family: Arial;
                    border: 2px solid #EDEDED;">
                    <tr>
                        <td colspan="3" style="height: 30px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20px;">
                        </td>
                        <td style="padding: 10px;">
                            <table cellpadding="0" cellspacing="0" style="width: 100%; border-width: 0px;">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="width: 100%; border-width: 0px;">
                                            <tr>
                                                <td style="text-align: center">
                                                    <img src="https://qa.netsolace.com/Portal/templates/images/FLIPBOOK graphic.png"
                                                        alt="Fruit Expert Logo" style="display: inline-block; border: none;" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 40px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color: Black; font-size: 17px;">
                                        Welcome to Digital Flipbook! You will soon be able to browse through all product
                                        offerings with the swipe of a finger.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 40px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight: bold;">Requirements</span><br />
                                        In order to download and run Digital Flipbook, you will need the following:
                                        <ul>
                                            <li>Wifi</li>
                                            <li>iPad 2 or above</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="border: 1px solid #DFDFDF; width: 400px;
                                            border-radius: 5px;">
                                            <tr>
                                                <td style="padding: 5px 8px;">
                                                    Serial Key:
                                                </td>
                                            </tr>
                                            <!--***Keys***-->
                                            <!-- <tr>
                                                <td style="background-color: #EFEFEF; padding: 4px 10px; border-top: 1px solid #DFDFDF;">
                                                    X2SZO-SDFSDF-XOFS23239
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style='background-color: #EFEFEF; padding: 4px 10px; border-top: 1px solid #DFDFDF;'>
                                                    X2311-UISODO-ORVBDCG26
                                                </td>
                                            </tr>-->
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        To install the app from your iPad press the appropriate download button below or
                                        you can use the link provided.<br />
                                        <br />
                                        For U.S. stores choose to download the U.S. version or enter <a href="http://flipbook.netsolace.com"
                                            target="_blan">http://flipbook.netsolace.com</a> into your web browser on your
                                        iPad.
                                        <br />
                                        <br />
                                        For Canadian stores choose to download the CA version or enter <a href="http://flipbookca.netsolace.com"
                                            target="_blan">http://flipbookca.netsolace.com</a> into your web browser on
                                        your iPad.<br />
                                        <br />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="3" style="border: 1px solid #DFDFDF; 
                                            border-radius: 5px; width: 100%;">
                                            <tr>
                                                <td style="width: 20px;">
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    <a href="http://flipbook.netsolace.com" target="_blank">
                                                        <img src="https://qa.netsolace.com/Portal/templates/images/btn_DownloadApp_dfb_US.png"
                                                            alt="download" style="border: none; vertical-align: middle;" />
                                                    </a>
                                                </td>
                                                <td style="width: 5px;">
                                                </td>
                                                <td style="padding: 0px 25px; white-space: nowrap;">
                                                    or Copy Link
                                                </td>
                                                <td style="width: 5px;">
                                                </td>
                                                <td>
                                                    <img src="https://qa.netsolace.com/Portal/templates/images/icon_link.jpg" alt="download"
                                                        style="border: none; vertical-align: middle; display: inline;" />
                                                </td>
                                                <td style="width: 5px;">
                                                    &nbsp;
                                                </td>
                                                <td style="width: 100%;">
                                                    <input type="text" value="http://flipbook.netsolace.com" style="width: 100%; border: 1px solid #EDEDED;
                                                        height: 30px;" />
                                                </td>
                                                <td style="width: 20px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 2px;">
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="3" style="border: 1px solid #DFDFDF; border-radius: 5px;
                                            width: 100%;">
                                            <tr>
                                                <td style="width: 20px;">
                                                    &nbsp;
                                                </td>
                                                <td>
                                                    <a href="http://flipbookca.netsolace.com" target="_blank">
                                                        <img src="https://qa.netsolace.com/Portal/templates/images/btn_DownloadApp_dfb_CA.png"
                                                            alt="download" style="border: none; vertical-align: middle;" />
                                                    </a>
                                                </td>
                                                <td style="width: 5px;">
                                                </td>
                                                <td style="padding: 0px 25px; white-space: nowrap;">
                                                    or Copy Link
                                                </td>
                                                <td style="width: 5px;">
                                                </td>
                                                <td>
                                                    <img src="https://qa.netsolace.com/Portal/templates/images/icon_link.jpg" alt="download"
                                                        style="border: none; vertical-align: middle; display: inline;" />
                                                </td>
                                                <td style="width: 5px;">
                                                    &nbsp;
                                                </td>
                                                <td style="width: 100%;">
                                                    <input type="text" value="http://flipbookca.netsolace.com" style="width: 100%; border: 1px solid #EDEDED;
                                                        height: 30px;" />
                                                </td>
                                                <td style="width: 20px;">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span style="font-weight: bold;">Activate Digital Flipbook</span>
                            <ul>
                                <li>Open Digital Flipbook on your iPad</li>
                                <li>Enter your License Key</li>
                                <li>Start using Digital Flipbook!</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 20px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-top: 10px; border-top: 1px solid #E8E8E8;">
                            <span style="font-weight: bold;">Need Help?</span><br />
                            If you have any questions or issues, please contact Netsolace Support at <a href="mailto:support@netsolace.com">
                                support@netsolace.com</a> or at 203.907.2810
                        </td>
                    </tr>
                    <tr>
                        <td style="height: 40px;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" style="width: 100%; border-width: 0px;">
                                <tr>
                                    <td style="text-align: center">
                                        <a href="https://qa.netsolace.com" target="_blank">
                                            <img src="https://qa.netsolace.com/Portal/templates/images/ico_Netsolace.jpg" alt="Netsolace image"
                                                style="display: inline-block; border: none;" />
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td style="width: 20px;">
            </td>
        </tr>
        <tr>
            <td colspan="3" style="height: 30px;">
            </td>
        </tr>
    </table>
    </td> </tr> </table>
</body>
</html>
