<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>Untitled Page</title>
</head>
<body style="font-size: 10pt">
    <span style="font-family: Arial">Dear <strong>@OwnerName</strong>,
    <br />
    </span>
    <span style="font-family: Arial">@Message<br />
        <br />
        Ticket #: <strong>@TicketNo</strong><br />
        Store #: <strong>@Store</strong><br />
        Subject: <strong>@Subject</strong><br />       
        </span>
        
        <span style="font-size: 10pt;font-family: Arial"> 
        <br />Please contact us for any further assistance.<br />
        <br />Thank you.
        <br />
        <br />
        </span>
        <span style="font-family: Arial">           
            <strong>Netsolace, Inc.</strong>
            <br />95 Barnes Road
            <br />Wallingford, Connecticut 06492-180
            <br />United States 
            <br />Phone: +1-203-907-2800
            <br />Fax: +1-203-651-1043 
            <br /><a href="mailto:support@netsolace.com" target="_blank" >support@netsolace.com</a> 
            <br /><a href="http://qa.netsolace.com" target="_blank" >http://qa.netsolace.com</a> 
            <br />
            <br />
            <br />
         </span>
         <hr />
         <span style="font-family: Arial">  
            Confidentiality Notice: This e-mail message (including any attachments or embedded
            documents) is intended for the exclusive and confidential use of the individual
            or entity to which this message is addressed, and unless otherwise expressly indicated,
            is confidential and privileged information of Netsolace, Inc. Any dissemination, distribution or copying of the enclosed material is prohibited.
            If you have received this email by mistake, please immediately notify us by email
            or telephone and destroy any email received. Your cooperation is appreciated. Thank
            you.
          </span>
</body>
</html>