<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title></title>
    <style type="text/css">
         body, table, a, span, p
         {
         	font-size: 10pt;font-family:Arial;
         }
    </style>
</head>
<body>
    Dear  @OwnerName,
    <br />
    <br />
    The following support ticket @CreatedORUpdatedORWaiting.<br />    
        <br />
        <table cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td style="width:100px;">Ticket Ref &nbsp;#:</td>
            <td> @TicketNo </td>
        </tr>
        <tr>
            <td>Title:</td>
            <td>@TicketName </td>
        </tr>
       
        </table>                     
        
        <br />
        <br />Because this ticket contains security sensitive information, we ask that you please login into ncompass owner end and view this ticket under MyNetsolace - Helpdesk section.
        <br />
        <br />Should you have any questions or comments, please feel free to add them to your ticket via my.netsolace.com. For security purposes, comments may only be added to your 
              support tickets via the MyNetsolace. Emailed replies to this notification message will not be received by Netsolace staff.
        <br /><br />If you have any further questions or concerns, please do not hesitate to contact us via phone at the numbers listed below.
              <br />
    <br />
    As always, it is our pleasure to assist in any way possible!
        <br />
        <br />
        
        
            Thank you,    
            
    <br />
    Netsolace, Inc.
    <br />
    qa.netsolace.com
            <br />Phone: +1-203-907-2800
            <br />Fax: +1-203-651-1043 
            <br />Your email notifications currently include security sensitive information.  For security reasons, we do not recommend this. We do not currently have a process for sending you secure e-mail.  All e-mail will be in clear text form, meaning that it can be read if it is intercepted by a third party while in transit to you over the Internet.
            <br /><br /><br /><br />
            -----------------------------------------------------------------------------------
            <br />Netsolace, 95 Barnes Road
                  Wallingford, Connecticut 06492-180, USA            
            <br />
            <br />
            <br />
        
    Confidentiality Notice: This e-mail message (including
        any attachments or embedded documents) is intended for the exclusive and confidential
        use of the individual or entity to which this message is addressed, and unless otherwise
        expressly indicated, is confidential and privileged information of Netsolace. Any
        dissemination, distribution or copying of the enclosed material is prohibited. If
        you receive this transmission in error, please notify us immediately by e-mail at
        <a href="mailto:webmaster@netsolace.com">webmaster@netsolace.com</a> and delete the original message. Your cooperation is appreciated.
    
</body>
</html>