<html>
<head>
    <title>Email</title>    
</head>
<body>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td style="width: 700px;">
                <table cellpadding="0" cellspacing="0" style="border-width: 0px; font-family: Arial;
                    border: 2px solid #EDEDED;">
                    <tr>
                        <td colspan="3" style="height: 30px;">
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20px;">
                        </td>
                        <td>
                            <table cellpadding="0" cellspacing="0" style="width: 100%; border-width: 0px;">
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="width: 100%; border-width: 0px;">
                                            <tr>
                                                <td style="text-align: left;">
                                                    <img src="https://qa.netsolace.com/Portal/templates/images/logo_Ordering_App.png" alt="Fruit Expert Logo" style="display: inline-block;height:80px; width:200px;" />
                                                </td>
                                                <td style="text-align: right;">
                                                    <a href="https://qa.netsolace.com" target="_blank">
                                                        <img src="https://qa.netsolace.com/Portal/templates/images/ico_Netsolace.png" alt="Netsolace Logo" style="display: inline-block; border:none;width:200px;" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 60px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#A01212; font-size:28px;">
                                        Thank you for purchasing SMSx Ordering Application 
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 40px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="border: 1px solid #DFDFDF; width: 400px; border-radius: 5px; ">
                                            <tr>
                                                <td style="padding:5px 8px;">
                                                    Serial Key:
                                                </td>
                                            </tr>
                                            <!--***Keys***-->

                                            <!--<tr>
                                                <td style="background-color: #EFEFEF; padding: 4px 10px; border-top: 1px solid #DFDFDF;">
                                                    X2SZO-SDFSDF-XOFS23239
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style='background-color: #EFEFEF; padding: 4px 10px; border-top: 1px solid #DFDFDF;'>
                                                    X2311-UISODO-ORVBDCG26
                                                </td>
                                            </tr>-->
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        To install the app from your iPad press the Download App button or enter the link.
                                        For more information about how to install and activate Ordering App please review the getting started document attached with this email.  
                                    </td>
                                </tr>  
                                <tr>
                                    <td style="height:20px;"></td>
                                </tr>                              
                                <tr>
                                    <td>
                                        <table cellpadding="0" cellspacing="0" style="border: 1px solid #DFDFDF; border-radius: 5px;
                                            width: 100%;">
                                            <tr>
                                    <td style="height: 4px;">
                                    </td>
                                </tr>
                                            <tr>
                                            <td style="width:20px;">&nbsp;</td>
                                                <td>
                                                    <a href="https://qa.netsolace.com/Portal/smsorderigapp" target="_blank">
                                                        <img src="https://qa.netsolace.com/Portal/templates/images/btn_download.jpg" alt="download" style="border: none; vertical-align: middle;" />
                                                    </a>
                                                </td>
                                                <td style="width:5px;"></td>
                                                <td style="padding: 0px 25px; white-space: nowrap;">
                                                    or Copy Link
                                                </td>
                                                <td style="width:5px;"></td>
                                                <td>
                                                    <img src="https://qa.netsolace.com/Portal/templates/images/icon_link.jpg" alt="download" style="border: none; vertical-align: middle;
                                                        display: inline;" />
                                                </td>
                                                <td style="width:5px;">&nbsp;</td>
                                                <td style="width: 100%;">
                                                    <input type="text" value="https://qa.netsolace.com/Portal/smsorderigapp" style="width: 100%; padding-top:8px; border: 1px solid #EDEDED; height: 30px;" />
                                                </td>
                                                <td style="width:20px;">&nbsp;</td>
                                            </tr>
                                            <tr>
                                    <td style="height: 5px;">
                                    </td>
                                </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 40px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight: bold;">The SMSx Ordering Application will
                                            allow</span>
                                        <ul>
                                            <li>Processing orders for pickup or delivery</li>
                                            <li>Credit card processing with signature capture</li>
                                            <li>Enhanced in-store customer experience</li>
                                            <li>Improved store resource utilization</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight: bold;">Pre-Installation Requirements</span>
                                        <ul>
                                            <li>You will need to be running version SMSx version 20130701a or above. You can easily
                                                check this by looking at the top right corner of your SMSx system. If you're running
                                                version 415a or lower please contact Netsolace technical support for assistance
                                                upgrading.</li>
                                            <li>WIFI enablement at your store via the same router your SMSx system is using to connect
                                                to the internet</li>
                                            <li>iPad 2 or above running a version of iOS 6 available to install and run the Fruit
                                                Expert app.</li>
                                            <li>Ordering App web service MUST be enabled by NS technical support</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="height: 20px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top:15px; border-top:1px solid #E8E8E8;">
                                        If you have questions about the requirements or the installation process itself,
                                        please don't hesitate to call Netsolace technical support for asssitance at <b>203-907-2810</b>
                                    </td>
                                </tr>                                
                            </table>
                        </td>
                        <td style="width: 20px;">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="height: 30px;">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>