<table height="100%">
<tr height="90%">
<td valign="top">
<font size="2" face="Arial, Helvetica, sans-serif">
<p align="center" class="noprint">
	<img src="https://www.fransupport.com/admin/images/ea_logo.gif" width="149" height="140"><br>
</p>
<p>Dear&nbsp; Franchisee,</p>
    <p>
        Following are the installation and activation keys for terminals , please intall
        and activate SMSx using the following keys.</p>
    <p>
        ***Installation***</p>
    <p>
        Contact Edible Arrangments Corporate Team for further assistance.
    </p>

<p>Sincerely, </p>
<p>The Edible  Arrangements Corporate Team&nbsp; </p>
</font>
</td>
</tr>
<tr>
<td align="center" valign="bottom">
<font size="2" face="Arial, Helvetica, sans-serif">
<b><i>Edible Arrangements International, Inc.</i></b><br>
95 Barnes Road.  Wallingford, CT 06492   (203) 774-8000    Fax (203) 230-0792
</font>
</td>
</tr>
</table>



