<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>SMSx Installation &amp; Activation</title>
    <style type="text/css">
<!--
body {
	background-image: url(images/bg_sms_Licence.jpg);
	margin-left: 0px;
	margin-top: 0px;
	font-family:Verdana;
	margin-right: 0px;
	margin-bottom: 0px;
}
.style1 {
	color: #2c6181;
	font-weight: bold;
}
.header{
    position:relative;
	height:20px;
	padding-right:3px;
	padding-left:3px;
	font-size:10px;
	font-weight:bold;
    border-bottom:1px solid #9bb8c6; 
    border-right:1px solid #9bb8c6; 
    background-color:#dbedf9;
    text-align:left;
	}
	a, a:active, a:visited
{
	text-decoration:none;
	
}

.style2 {border-bottom: 1px solid #9bb8c6; background-color: #dbedf9; text-align: left; font-size: 10px; }
-->
</style>
</head>
<body>
    <table width="100%" border="0" height="100%" cellpadding="0" cellspacing="0">
        <tr>
            <td height="5px;" colspan="3">
                &nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" style="padding: 5px;">
                <table width="100%" border="0" height="100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td colspan="3">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 5%">
                            &nbsp;</td>
                        <td align="center">
                            <img src="http://localhost/Portal/Templates/images/logo_SMS_XLicense.gif" /></td>
                        <td style="width: 5%">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                        <td align="center" style="color: #858585; font-weight: bold; font-size: 14px; padding-bottom: 10px;">
                            Setup and Installation</td>
                        <td>
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                        <td align="center" style="font-weight: bold; font-size: 20px; padding-bottom: 10px;">
                            Thank you for Purchasing SMSx</td>
                        <td>
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                        <td align="center" style="padding-top: 10px; padding-bottom: 10px;">
                            <a href="*****span*****">
                                <img src="http://localhost/Portal/Templates/images/btn_downloadInstall.gif" border="0" /></a></td>
                        <td>
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 5%">
                            &nbsp;</td>
                        <td align="center" style="width: 90%">
                            <table width="100%" border="0" height="100%" cellpadding="0" cellspacing="0" style="border: 2px solid #17415a">
                                <tr>
                                    <td class="header">
                                        Terminal Name</td>
                                    <td class="header">
                                        Activation Key</td>
                                    <td class="header">
                                        Installation Key</td>
                                </tr>
                                ******Activate******
                            </table>
                        </td>
                        <td style="width: 5%">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                        <td align="center" style="padding-top: 10px; padding-bottom: 10px;">
                        <a href="*****RemindMe*****">
                            <img src="http://localhost/Portal/Templates/images/btn_RemindMeLater.gif" border="0" /></a></td>
                        <td>
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            &nbsp;</td>
                        <td align="center" style="padding-top: 10px; padding-bottom: 10px;">
                            <a href="*****SMS-XIntroduction*****" class="style1"> SMSx Introducation</a> | <a class="style1" href="*****SMS-XUserGuide*****"> SMSx Installation Guide</a>
                        </td>
                        <td>
                            &nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;</td>
        </tr>
    </table>
</body>
</html>
